@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap%27');
html {
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1700px;
    width: 100%;
    margin: auto;
}

.all {
    margin: 0 2rem;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    font-size: 1.1em;
}

#logo_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 1px;
    margin-right: 50px;
    text-decoration: none;
}

.hidephone {
    display: none;
}

.menu_hebergement:hover {
    border-top: 3px solid #0065fc;
    padding-top: 12px;
}

.menu_activite:hover {
    border-top: 3px solid #0065fc;
    padding-top: 12px;
}

.menu_inscription:hover {
    border-top: 3px solid #0065fc;
    padding-top: 12px;
}

#logo_menu a {
    text-decoration: none;
    color: #0065fc;
}

#menu_phone {
    display: flex;
    width: 100%;
    padding: 0px;
    margin-bottom: 40px;
}

#menu_phone li {
    max-width: 50%;
    width: 100%;
    position: relative;
    margin: 0px;
}

#menu_phone li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #F2F2F2;
    left: 0;
    right: 0;
    bottom: 0;
}

#menu_phone a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    cursor: pointer;
}

#menu_phone li.activited a {
    color: #0065fc;
}

#menu_phone li.activited:after {
    background-color: #0065fc;
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    .hidephone {
        display: inline;
    }
    #menu_phone {
        display: none;
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    #menu_phone {
        display: none;
    }
    .hidephone {
        display: inline;
    }
}

.menu_inscription {
    font-weight: 1000;
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    .menu_inscription {
        font-weight: normal;
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    .menu_inscription {
        font-weight: normal;
    }
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

li {
    margin-left: 5em;
    color: #0065fc;
}

#search_barre_hide_phone {
    display: flex;
    width: 100%;
}

input {
    width: 100%;
    height: 35px;
}

#search_barre_hide_phone button {
    font-family: ralewaythin, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.6em;
    color: white;
    height: 100%;
    width: 100%;
    background-color: #0065fc;
    border: 3px solid #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    position: relative;
}

#search_search_hide_phone button:hover {
    cursor: pointer;
    border: 3px outset #deebff;
}

#search_search_hide_phone .champ {
    height: 100%;
    border: 1px solid #F2F2F2;
}

#search_barre_hide_phone .marker {
    background-color: #F2F2F2;
    border: 3px solid #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50px;
    height: 40px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: em;
    padding-left: 3px;
}

#search_barre_hide_phone button {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 50px;
    padding-top: 10px;
    padding-right: 5px;
}

#search-barre {
    display: none;
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    #search-barre {
        display: flex;
    }
    #search-barre .rechercher {
        font-family: ralewaythin, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 0.6em;
        color: white;
        height: 30px;
        background-color: #0065fc;
        border: 3px solid #0065fc;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        position: relative;
        top: -2px;
    }
    #search-barre .rechercher:hover {
        cursor: pointer;
        border: 3px outset #deebff;
    }
    #search-barre .champ {
        height: 30px;
        border: 1px solid #F2F2F2;
    }
    #search-barre .fas {
        background-color: #F2F2F2;
        border: 3px solid #F2F2F2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 30px;
        height: 30px;
        border: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 0.8em;
        padding-left: 3px;
    }
    #search_barre_hide_phone {
        display: none;
    }
    #search-barre form {
        display: flex;
    }
    input[type="search"] {
        width: 280px;
        padding-left: 1em;
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    #search-barre form {
        display: flex;
        width: 100%;
    }
    #search-barre .rechercher {
        font-family: ralewaythin, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 0.6em;
        color: white;
        height: 30px;
        background-color: #0065fc;
        border: 3px solid #0065fc;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        position: relative;
        top: -2px;
    }
    #search-barre .rechercher:hover {
        cursor: pointer;
        border: 3px outset #deebff;
    }
    #search-barre .champ {
        height: 30px;
        border: 1px solid #F2F2F2;
    }
    #search-barre .fas {
        background-color: #F2F2F2;
        border: 3px solid #F2F2F2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 30px;
        height: 30px;
        border: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 0.8em;
        padding-left: 3px;
    }
    #search_barre_hide_phone {
        display: none;
    }
    input[type="search"] {
        width: 280px;
        padding-left: 1em;
    }
}

.bouton ul {
    display: flex;
    flex-wrap: wrap;
}

.bouton li {
    padding-bottom: 15px;
}

.bouton h2 {
    position: relative;
    left: 10px;
    top: 12px;
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    .bouton ul {
        display: flex;
    }
    .bouton h2 {
        position: relative;
        left: 10px;
        top: 12px;
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    .bouton ul {
        display: flex;
    }
    .bouton h2 {
        position: relative;
        left: 10px;
        top: 12px;
    }
}

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    width: 100%;
    margin-left: 0px;
}

.filters button {
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #F2F2F2;
    padding: 0px;
    cursor: pointer;
    padding-right: 11px;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    padding-left: 11px;
}

.filters button:hover {
    background-color: #0065fc;
    color: white;
}

.filters button i.fas {
    height: 40px;
    width: 40px;
    background-color: #deebff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: -15px;
    margin-right: 5px;
    color: #0065fc;
}

@media screen and (min-width: 1200px) {
    .bouton {
        display: flex;
    }
}

#iconeheader {
    display: inline-block;
}

#iconeheader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

#iconeheader .fas {
    border: 2px solid #F2F2F2;
    color: #0065fc;
    margin-right: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col_droite {
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
    .col_droite {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 1200px) {
    .col_droite {
        display: flex;
        flex-direction: row;
    }
}

#hebergement {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #hebergement {
        width: 100%;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1200px) {
    #hebergement {
        background-color: #F2F2F2;
        width: 70%;
        height: auto;
        border-radius: 15px;
        padding: 10px;
        margin: 0px;
        display: block;
        margin-right: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

#hebergement_a_marseille {
    display: grid;
    grid-template-columns: repeat 1fr;
    grid-template-rows: auto;
    width: 100%;
}

.hotel {
    background-color: white;
    border-radius: 15px;
    margin: 0 0px 2.8em 0px;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, .15);
    overflow: hidden;
    border: 5px solid white;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    #hebergement_a_marseille {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media screen and (min-width: 1200px) {
    #hebergement_a_marseille {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.afficher_plus {
    margin: 0px;
    margin-left: 9px;
    margin-bottom: 20px;
    cursor: pointer;
}

.hotel h2 {
    font-size: 18px;
    font-weight: 800;
    margin: 0px;
    padding-top: 8px;
    padding-left: 8px;
}

.hotel p {
    margin: 0px;
    padding-top: 8px;
    padding-left: 8px;
}

.hotel img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.hotel figure {
    margin: 0px;
}

.hotel .etoiles {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 5px;
}

.hotel .active {
    color: #0065fc;
}

.hotel .inactive {
    color: #F2F2F2;
}

.hotel a {
    text-decoration: none;
    color: black;
}

#les_plus_populaires_titre {
    margin-left: 0;
}

#droit {
    background-color: #F2F2F2;
    width: 100%;
    display: block;
    border-radius: 15px;
    position: relative;
}

#droit a {
    text-decoration: none;
    color: black;
}

#droit .fa-chart-line {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

#droit .populaire {
    background-color: white;
    width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, .15);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 170px;
    overflow: hidden;
    border: 5px solid white;
    position: relative;
    margin: auto;
    margin-bottom: 2.8em;
    cursor: pointer;
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    #droit {
        width: 100%;
        max-width: 100%;
        margin-left: 2px;
    }
    #droit .populaire {
        width: 90%;
    }
}

/* responsive desktop*/

@media screen and (min-width:1200px) {
    #droit {
        width: 30%;
        height: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}

#droit img {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#droit figure {
    margin: 0px;
    height: 100%;
}

#droit .populaire_content {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
}

#droit .active {
    color: #0065fc;
}

#droit .inactive {
    color: #F2F2F2;
}

#droit img {
    width: 100%;
}

#droit h2 {
    margin-left: 42px;
}

@media screen and (min-width: 768px) {
    #droit h2 {
        margin-left: 42px;
    }
}

@media screen and (min-width: 1200px) {
    #droit h2 {
        margin-left: 15px;
    }
}

#droit h3 {
    font-size: 18px;
    font-weight: 800;
    margin: 0px;
    padding-top: 8px;
    padding-left: 14px;
}

#droit p {
    margin: 0px;
    padding-top: 8px;
    padding-left: 14px;
}

#droit .etoiles {
    padding-left: 14px;
    padding-top: 8px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 2px;
}

.activites {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 200px);
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 30px;
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    .activites {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 200px);
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    .activites {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 100px 200px;
    }
}

#activite_a_marseille {
    padding-top: 30px;
    padding-left: 9px;
}

section.activites article figure {
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

section.activites article figure>div {
    position: relative;
    flex: 1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

section.activites article figure>div>img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hide {
    display: none;
}

.article_activite_un {
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 15px;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, .15);
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    .article_activite_un {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    .article_activite_un {
        grid-column: 1/2;
        grid-row: 1/4;
    }
}

.article_activite_deux {
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 15px;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, .15);
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    .article_activite_deux {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    .article_activite_deux {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

.article_activite_trois {
    grid-column: 1/2;
    grid-row: 3/4;
    border-radius: 15px;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, .15);
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    .article_activite_trois {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    .article_activite_trois {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}

.article_activite_quatre {
    grid-column: 1/2;
    grid-row: 4/5;
    border-radius: 15px;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, .15);
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    .article_activite_quatre {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    .article_activite_quatre {
        grid-column: 3/4;
        grid-row: 1/4;
    }
}

.article_activite_cinq {
    grid-column: 1/2;
    grid-row: 5/6;
    border-radius: 15px;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, .15);
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    .article_activite_cinq {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    .article_activite_cinq {
        grid-column: 4/5;
        grid-row: 1/2;
    }
}

.article_activite_six {
    grid-column: 1/2;
    grid-row: 6/7;
    border-radius: 15px;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, .15);
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    .article_activite_six {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    .article_activite_six {
        grid-column: 4/5;
        grid-row: 2/4;
    }
}

.activites figcaption {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    text-decoration: none;
}

.activites h3 {
    padding-left: 20px;
    margin: 0px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -1px;
}

.activites a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #F2F2F2;
    display: flex;
    margin: auto;
}

footer .footer_content {
    margin-left: 30px;
    padding-right: 280px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

footer .a_propos {
    grid-column: 1/2;
    grid-row: 1/2;
}

footer .nos_hebergements {
    grid-column: 1/2;
    grid-row: 2/3;
}

footer .assitance {
    grid-column: 1/2;
    grid-row: 3/4;
}

/* responsive tablette*/

@media screen and (min-width: 768px) {
    .footer_content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 70px;
    }
    footer .a_propos {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    footer .nos_hebergements {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    footer .assitance {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-right: 0px;
    }
}

/* responsive desktop*/

@media screen and (min-width: 1200px) {
    .footer_content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 280px;
    }
    footer .a_propos {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    footer .nos_hebergements {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    footer .assitance {
        grid-column: 3/4;
        grid-row: 1/2;
    }
}